.App {
  /*width: 100%;*/
  /*align-self: stretch;*/
  /*flex: 1;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*margin: 30px 0 0 50px;*/
  /*max-width: 100%;*/
  /*border: 1px dashed green;*/
}

.App-header {
  /*max-width: 100%;*/
  /*border: 1px dashed black;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  /*margin-top: 50px;*/
  margin-bottom: 100px;
}

.App-intro {
  font-size: large;
}

.name-title {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: 43px;
  font-weight: bold;
}

.initials {
  display: none;
  font-size: 34px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.currentPage {
  color: #61D0D4;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #eae5e5;
}

@media only screen and (max-width: 302px) {
  .name {
    display: none;
  }

  .initials {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    display: none;
  }

}

@media only screen and (max-width: 450px) {
  .name {
    font-size: 25px;
  }

  .title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .App {
    /*width: 100%;*/
    /*text-align: left;*/
    /*margin: 10px 20px;*/
  }

  .App-header {
    /*width: 100vw;*/
    /*margin-top: 0;*/
    margin-bottom: 15px;
  }

  .name {
    /*font: normal normal normal 80px/1.2em 'noticia text',serif;*/
    font-size: 30px;
  }

}
