.Home {
  max-width: 900px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Home-image-wide {
    flex: 1 1 auto;
    max-width: 350px;
    min-width: 300px;
}

.Home img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.Home-about {
  max-width: 450px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Home-about-header {
  font: normal normal normal 80px/1.2em 'noticia text',serif;
}

.Home-about-subheader {
  font: normal normal normal 46px/1.2em 'noticia text',serif;
}

.Home-about-buttons {
  flex: 0 0 auto;
  align-self: stretch;
  display: flex;
  -webkit-flex: 0 0 auto;
  justify-content: space-between;
  margin: 30px 0;
}

.button {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.button:hover {
  transition: background-color 0.5s ease 0s;
  /*transition: border 0.4s ease 0s, background-color 0.4s ease 0s;*/
}

.button.resume {
  background-color: rgba(232, 53, 86, 1);
}

.button.projects {
  background-color: #61d0d4;
}

.button.contact {
  background-color: #d1c926;
}

.button.resume:hover {
  background-color: #b1112e;
  /*background-color: #8e0d25;*/
}

.button.projects:hover {
  background-color: rgba(65, 139, 141, 1);
}

.button.contact:hover {
  background-color: rgba(139, 134, 25, 1);
}

.Home-image-small {
  display: none;
}

@media only screen and (max-width: 991px) {
  .button {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .Home {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 300px;
  }

  .Home-about {
    margin: 0;
  }

  .Home-about-header {
    font-size: 49px;
    font-weight: bold;
  }

  .Home-about-subheader {
    font-size: 35px;
  }

  .Home-image-wide {
    display: none;
  }

  .Home-image-small {
    display: flex;
    max-width: 330px;
    max-height: 330px;
    align-self: center;
    margin-bottom: 20px;
  }

  .Home-about-buttons {
    align-self: stretch;
  }

  .button {
    width: 85px;
    height: 85px;
  }
}