.Projects {
  /*width: 100%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: flex-start;*/
}

.carousel-caption {
  text-align: left;
}

.carousel-caption p {
  max-width: 50%;
}

.small-caption {
  display: none;
}

@media only screen and (max-width: 530px) {
  .carousel-caption p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .carousel-caption p {
    display: none;
  }
}